<a href="https://colab.research.google.com/github/wsuarez893/MC-Data-Class---Modules/blob/main/Walter_Suarez_Module_4_Class_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### More List Methods

In [ ]:
## define a list of clothes

clothes = ['shirts', 'jacket', 'pants', 'shorts', 'coat']

#### pop method

The .pop() method removes an item from a list. If no argument is given, it automatically removes the last item from the list. If you give the index, it will remove the item found in that index location.

In [ ]:
## remove the last item of the list clothes

clothes.pop()

print(clothes)

In [ ]:
## save the removed item to a variable

item = clothes.pop()

print(item)

In [ ]:
## remove an item at a specific index

item = clothes.pop(2)

print(item)

#### remove method

The .remove() method will remove a specific item from a list. If an item is repeated within the list, it will remove the first instance.

In [ ]:
## remove item from list given name

clothes.remove("shirts")

print(clothes)

#### count method

The count method returns the number of times a specified item appears in a list.

In [ ]:
## let's check if 'pants' show up in the list at all

"pants" in clothes

In [ ]:
## how many times does "pants" show up in the list?

clothes.count("pants")

#### sort method and function 

The sort method sorts elements of a given list (ascending or descending) order.

In [ ]:
## copy the clothes list

clothes_sorted = clothes.copy()

## sort the 'clothes_sorted' list

clothes_sorted.sort()

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

In [ ]:
## copy the clothes list

clothes_sorted = clothes.copy()

## sort the 'clothes_sorted' list in reverse order

clothes_sorted.sort(reverse = True)

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

In [ ]:
## sorted function - sorted()
## sort the 'clothes_sorted' list

clothes_sorted = sorted(clothes)

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

### Tuples

A tuple is another data type similar to a list (a collection of items); however, unlike a list, a tuple is unchangeable. Lists are <b>dynamic</b> and tuples are <b>static</b>. Lists can be changed or modified after they are created, tuples cannot be changed or modified after creation. Since it cannot be changed, it has less functionality than a list.

In [ ]:
## tuples are created using paraentheses vs brackets 

week = ('M', 'T', 'W', 'Th', 'F', 'Sa', 'Su')

## print tuple

print(week)

In [ ]:
## determine the length of a tuple

print(len(week))

## index items in a tuple

print(week[3])

## slice items in a tuple
# slicing a tuple is inclusive : exclusive

print(week[0:4])

#### list() and tuple() methods

You can convert a tuple to a list using the list() function; you can convert a list into a tuple using the tuple() function.

In [ ]:
# convert list to tuple

clothes_tuple = tuple(clothes)

# print tuple

print(clothes_tuple)
print(type(clothes_tuple))

In [ ]:
# convert tuple to list

week_list = list(week)

# print list

print(week_list)
print(type(week_list))

# [ Exercise 1 ] 

Get 7 book titles from a user and save the title names into a list. Next, remove the title in the middle of the list <b>after</b> sorting the list alphabetically. Finally, using formatted strings, display the original list, the sorted list, and the list after removing the above item. 

Make copies of your lists as you work through the steps.

In [ ]:
book1 =input("please give a book name:   ")
book2 =input("please give a book name:   ")
book3 =input("please give a book name:   ")
book4 =input("please give a book name:   ")
book5 =input("please give a book name:   ")

book_list = [book1, book2, book3, book4, book5]
print(book_list)

book_sorted = book_list.copy()
book_sorted.sort()
print(book_sorted)

book_remove = book_list.copy()
book_remove.remove("cancha")
print(book_remove)

### Loops

#### For Loops
For-loops are used to iterate (repeat) over a sequence. Using a for loop, we can execute a set of tasks once for <b>each</b> item in a list, tuple, string, etc.

In [ ]:
## define a list of colors

colors = ["red", "blue", "green", "pink", "purple", "yellow"]

In [ ]:
## create a for-loop to print each color in the list

for color in colors:
    print(color)

In [ ]:
## create a for-loop to print each color in the list with formatted string

for color in colors:
    print(f"My favorite color is {color}.")

In [ ]:
## using a for-loop with a string

for letter in "Hello how are you?":
    print(letter)

In [ ]:
stars = [3, 8, 2, 1, 6, 7, 4, 5]

for num in stars:
    print("*" * num)

In [ ]:
names = ["Carlos", "James", "Mark", "Janie", "Lucy", "Sarah", "Jackson"]

for name in names:
    if name[0] == "J":
        print(name)
    else:
        print("---")

# [ Exercise 2 ]

Get a list of 5 numbers from a user. Save those numbers in a list called <b>numbers</b>. Create a for-loop that takes each number in the list and adds "10" to the number. Print each sum value.

In [ ]:
num1 = int(input("give me a number:   "))
num2 = int(input("give me a number:   "))
num3 = int(input("give me a number:   "))
num4 = int(input("give me a number:   "))
num5 = int(input("give me a number:   "))

numbers = [num1, num2, num3, num4, num5]

for num in numbers: 
  print(num + 10)

#### Range Function

The range function creates a sequence of numbers starting from a given integer and stopping before a given integer (inclusive -> exclusive). The range function can be useful when incorporated into loops. The range function defaults to a 0 starting value but this can be altered, for example:

        range(0, 10) returns the values 0 through 9
        range(0, 11) returns the values 0 through 10
        range(2, 7) returns the values 2 through 6
        range(-1, 10) returns the values -1 through 9

In [ ]:
for num in range(1, 5):
    
    print(num)

In [ ]:
for num in range(1, 5):
    
    print(num, end = " ")

In [ ]:
for num in range(0,6):
    
    print(num * "^")

In [ ]:
doubles = []

for num in range(0, 100):
    if num % 11 == 0:
        doubles.append(num)
        
print(doubles)

# [ Exercise 3 ]

Using the range function and a for-loop to create a list of numbers from 0 through 50. Print each value. If the number ends in 0, next to the printed value, print a series of " * " equal to the number.

In [ ]:
for num in range(0,50): 
  if num % 10 == 0: 
    print("*" * num)
  else: 
    print(num)

#### While Loops
While-loops are used to execute a set of statements as long as a condition remains true. We generally use this loop when we don't know the number of times to iterate beforehand.

In the while loop, the conditional expression is checked first. The body of the loop is executed if the conditional expression is true. After one loop, the conditional expression is checked again, if it is still true, the iterations continue. The entire loop continues until the conditional expression is false.

In [ ]:
item = 1

while item <= 5:
    print(item)
    item += 1

In [ ]:
count = 0

while count < 5:
    print(f"{count} is less than 5!")
    count += 1
else: 
    print(f"{count} is not less than 5!")

In [ ]:
choice = "Y"

while choice == "Y":
    choice = input("Please make a choice (Y/N): ")
    
    if choice == "Y":
        print("Hello!")
    else:
        print("Goodbye!")

In [ ]:
numbers = []

while len(numbers) < 4:
    num = int(input("Enter a number: "))
    if num % 2 == 0: ## only even numbers
        numbers.append(num)
        print(numbers)

In [ ]:
go = True

while go: 
    number = int(input("Enter a number between 1 and 10: "))
    
    if number < 1 or number > 10:
        go = False ## stop the loop
    else:
        print ("*" * number)

# [ Exercise 4 ]

If you save $1,000 each year with 1 percent annual interest, how much would you have saved in 5 years? Fix the code below and show how it works once it's cleaned up.

In [ ]:
savings = 1000 
years = 5
interest = 0.01

future_value = (savings*(1+(interest)))**years 
print(future_value)

In [ ]:
HELP

### Break and Continue Statements

With the break statement, you can stop a loop before it has looped through all the items in the list, tuple, string, etc.

With the continue statement, you can stop the current iteration of the loop and move to the next one.

In [ ]:
## Break Statement

answers = ["A","C", "", "B", "D"]

##

for answer in answers:
    if answer == "": 
        print("Incomplete")
        break
    print(answer)

In [ ]:
## Continue Statement

answers = ["A","C", "", "B", "D"]

##

for answer in answers:
    if answer == "": 
        print("Incomplete")
        continue
    print(answer)

In [ ]:
## Break & Continue Statement

answers = ["A","C", "", "B", "D"]

##

while True:
    answer = input("Enter a grade (or 'q' to quit): ")
    if answer == 'q': 
        break
    elif answer == "":
        print("Incomplete")
        continue
    else:
        print(f"\nYour grade is {answer}.")

### Nested Loops

The "Inception" of loops. A nested loop is a loop inside of a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [ ]:
weather = ["sunny", "partly cloudy", "rain"]
temp = [67, 71, 76, 60]

## 

for x in weather:
    for t in temp:
        print(f"Today the weather is {x} and the temp is {t} degrees.")

# [ Exercise 5 ]

Develop the code below to produce the following output: 

    *
    **
    ***
    ****
    *****

In [2]:
item = 1

while item <=5:
  print("*" * item)
  item += 1

*
**
***
****
*****

In [ ]:
Help?